<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Primera Entrega - Países</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/assets/favicon.ico' %}" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="{% static 'app/css/styles.css' %}" rel="stylesheet" />
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'app-inicio' %}">Países | Inicio</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-0 px-lg-1 rounded" href="{% url 'app-paises-buscar' %}">Buscar País</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-0 px-lg-1 rounded" href="{% url 'app-paises-crear' %}">Agregar País</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-0 px-lg-1 rounded" href="{% url 'app-continentes-crear' %}">Agregar Continente</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-0 px-lg-1 rounded" href="{% url 'app-idiomas-crear' %}">Agregar Idioma</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-0 px-lg-1 rounded" href="{% url 'app-paisesvbc' %}">Países (VBC)</a></li>

                    {% if request.user.is_authenticated %}
                    <p class="small text-muted mb-4 mb-lg-0">Hola {{request.user.username}}!</p>
                    <img src="{{imagen_url}}" style="max-width: 55px;">
                    <li class="nav-item mx-0 mx-lg-1"><a class="btn btn-primary" href="{% url 'auth-logout' %}">Logout</a></li>
                    {% else %}
                    <p class="small text-muted mb-4 mb-lg-0">Hola Visitante!</p>
                    <li class="nav-item mx-0 mx-lg-1"><a class="btn btn-primary" href="{% url 'auth-login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center">

        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">Información General</h1>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    </header>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <div class="row justify-content-center" align="center">
                {% block contenido %} {% endblock %}
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container"><small>Copyright &copy; Wladimir Arias Riquelme 2022</small></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>