{% extends 'app/base.html' %}

{% block contenido %}

<div class="container d-flex align-items-center flex-column">
    <h3 class="masthead-heading text-uppercase mb-0">Resultado Búsqueda Países</h3>
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
    </div>
</div>


<ul>
    
    <table cellspacing="10" cellpadding="10" border="3">
        <th>Nombre País</th>
        <th>Cantidad de Habitantes</th>
        {% for pais in paises %}
        <tr>
            <td>
                {{pais.nombre_pais}}
            </td>
            <td>{{pais.num_habitantes}}</td>
        </tr>
        {% endfor %}
    </table>
</ul>

{% endblock %}